# Parkinson's Project

#### Data Science Project

#### This project is...

## Importing packages

In [2]:
import pandas as pd
from scipy import stats

## Data Import

In [3]:
# Create a variable called 'url' to store the URL of the dataset
url = 'https://raw.githubusercontent.com/juanklopper/TutorialData/refs/heads/main/ICU_Mortality.csv'

In [ ]:
# Import the 'url' into a pandas DataFrame called 'df'
df = pd.read_csv(url)
# Display the first 5 rows of the DataFrame
print(df.head())

  Mortality  Age   WCC    HB Diabetes           Class
0      Died   69  12.0  11.7      NaN  Non-infectious
1      Died   73   9.0  13.2      NaN  Non-infectious
2      Died   53  16.4  11.1      NaN  Non-infectious
3      Died   74  10.1  11.2  Type II      Infectious
4      Died   69  10.2  15.0   Type I      Infectious

In [7]:
# Verify the size of 'df'
df.shape

(311, 6)

In [8]:
# Show the column headers
df.columns

Index(['Mortality', 'Age', 'WCC', 'HB', 'Diabetes', 'Class'], dtype='object')

In [10]:
df.head()

  Mortality  Age   WCC    HB Diabetes           Class
0      Died   69  12.0  11.7      NaN  Non-infectious
1      Died   73   9.0  13.2      NaN  Non-infectious
2      Died   53  16.4  11.1      NaN  Non-infectious
3      Died   74  10.1  11.2  Type II      Infectious
4      Died   69  10.2  15.0   Type I      Infectious

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Mortality  311 non-null    object
 1   Age        311 non-null    int64
 2   WCC        311 non-null    float64
 3   HB         311 non-null    float64
 4   Diabetes   213 non-null    object
 5   Class      311 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 14.7+ KB

## Categorical Data

In [13]:
# Show the first 10 rows of the 'Mortality' column
df['Mortality'].head(10)

0    Died
1    Died
2    Died
3    Died
4    Died
5    Died
6    Died
7    Died
8    Died
9    Died
Name: Mortality, dtype: object

#### The above is a series object, not a dataframe object

In [15]:
# Find the level of the 'Mortality' column
df.Mortality.unique()

array(['Died', 'Survived'], dtype=object)

In [16]:
# Calculate the frequency of each category in the 'Mortality' column
mortality_counts = df['Mortality'].value_counts()
print(mortality_counts)

Mortality
Survived    207
Died        104
Name: count, dtype: int64

In [17]:
# Calculate the proportion of each category in the 'Mortality' column
mortality_proportions = df['Mortality'].value_counts(normalize=True)
print(mortality_proportions)

Mortality
Survived    0.665595
Died        0.334405
Name: proportion, dtype: float64

In [18]:
# Calculate the percentage of each category in the 'Mortality' column
mortality_percentages = df['Mortality'].value_counts(normalize=True) * 100
print(mortality_percentages)

Mortality
Survived    66.559486
Died        33.440514
Name: proportion, dtype: float64

In [19]:
# Calculate the unique elements in the "Class" column
class_counts = df['Class'].value_counts()
print(class_counts)

Class
Non-infectious    161
Infectious        150
Name: count, dtype: int64

In [20]:
# Calculate the frequency of each category in the "Class" column
class_proportions = df['Class'].value_counts(normalize=True)
print(class_proportions)

Class
Non-infectious    0.517685
Infectious        0.482315
Name: proportion, dtype: float64

#### Correlation is for numerical, association is for categorical

In [24]:
# Table of proportions for the class and mortality
pd.crosstab(df.Class, df.Mortality)

Mortality       Died  Survived
Class
Infectious        49       101
Non-infectious    55       106

#### Categorical, Categorical

## Comparative Numerical Analysis

In [26]:
# Calculate the mean of the "age" column for each of the "Mortality" categories
df.groupby('Mortality').Age.mean()

Mortality
Died        61.125000
Survived    54.111111
Name: Age, dtype: float64

#### Categorical, Numerical

## Numerical Data Analysis

In [27]:
# Calculate the mean of the "age" column 
df.Age.mean()

np.float64(56.456591639871384)

In [32]:
# Calculate the sample standard deviation of the "age" column
df.Age.std(ddof = 1)

np.float64(10.974334278749502)

In [33]:
df.Age.describe()

count    311.000000
mean      56.456592
std       10.974334
min       23.000000
25%       49.000000
50%       56.000000
75%       64.000000
max       85.000000
Name: Age, dtype: float64

In [34]:
# Describe gte summary statistics for the "age" column for each cateogry in the "Mortality" column
df.groupby('Mortality').Age.describe()

           count       mean        std   min    25%   50%   75%   max
Mortality
Died       104.0  61.125000   9.738012  45.0  52.75  61.0  69.0  77.0
Survived   207.0  54.111111  10.830209  23.0  47.00  53.0  60.0  85.0

In [37]:
# Calculate the correlation between the "Age" and "WCC" columns
df.Age.corr(df.WCC)

np.float64(-0.0028512391858659236)