# Week 7 Class

## Lists

In [1]:
# Create a list of five integers
[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [2]:
# Type of list
type([1, 2, 3, 4, 5])

list

In [3]:
# Create a list of five integers and five strings
[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e']

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e']

In [4]:
# Create a list of five integers and assign it to the variable list1 
list1 = [1, 2, 3, 4, 5]

In [5]:
# Retrieve the first element of the list
list1[0]

1

In [6]:
# Retrieve the last element of the list
list1[-1]

5

In [7]:
# Retrieve the fourth element of the list
list1[3]

4

In [8]:
# Retrieve the first three elements of the list
list1[0:3]

[1, 2, 3]

In [9]:
# Retrieve all elements from index 3
list1[3:]

[4, 5]

In [10]:
# Retrieve the last three elements of the list
list1[-3:]

[3, 4, 5]

In [11]:
# Change the first element of the list to 'First'
list1[0] = 'First'
list1

['First', 2, 3, 4, 5]

In [12]:
# Change the last element of the list to the list ['one', 'two', 'three']
list1[-1] = ['one', 'two', 'three']
list1

['First', 2, 3, 4, ['one', 'two', 'three']]

In [13]:
# Return the length of the list
len(list1)

5

In [14]:
# Retrieve the last element of the list
list1[len(list1) - 1]

['one', 'two', 'three']

In [15]:
# Retrieve the first element of the last element of the list
list1[-1][0]

'one'

In [29]:
# Add the elements 10, 11, 12
list1.append(10)
list1.append(11)
list1.append(12)
list1

['First', 2, 3, 4, ['one', 'two', 'three'], 10, 11, 12]

In [31]:
list1.append(6)
list1

['First', 2, 3, 4, ['one', 'two', 'three'], 10, 11, 12, 6, 6]

In [32]:
# Create two new lists of integers
list2 = [6, 7, 8, 9, 10]
list3 = [11, 12, 13, 14, 15]

In [33]:
# Concatenate the two new lists
list2 + list3

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [34]:
# Repeat list2 three tmes
list2 * 3

[6, 7, 8, 9, 10, 6, 7, 8, 9, 10, 6, 7, 8, 9, 10]

In [35]:
# Reverse the list
list1.reverse()
list1

[6, 6, 12, 11, 10, ['one', 'two', 'three'], 4, 3, 2, 'First']

In [36]:
# Use the list function and the range function to create a list of integers from 0 to 9
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
# Created a list containing the string 'I love Python'
list('I love Python')

['I', ' ', 'l', 'o', 'v', 'e', ' ', 'P', 'y', 't', 'h', 'o', 'n']

## Tuples

In [38]:
# Create a tuple of five integers and assign it to the variable tuple1
tuple1 = 1, 2, 3, 4, 'ring'
tuple1

(1, 2, 3, 4, 'ring')

In [40]:
type(tuple1)

tuple

In [42]:
# Create a tuple with the elements 1,2,'three', and the list 'Python' and assign it to the variable tuple2
tuple2 = (1, 2, 'three', list('Python'))
tuple2

(1, 2, 'three', ['P', 'y', 't', 'h', 'o', 'n'])

In [44]:
# Retrieve the first element of tuple1
tuple1[0]

1

In [45]:
# Create a tuple with the elements 'Python', 'R', and 'Julia'
tuple3 = 'Python', 'R', 'Julia'
tuple3

('Python', 'R', 'Julia')

In [ ]:
# Assign each element of the tuple to a separate variable
language1, language2, language3 = tuple3

'Julia'

In [47]:
# Retrieve the object in language1
language1

'Python'

In [48]:
names = ['Mary', 'Anne', 'Rene']
surnames = ['Johnstone', 'Barnes', 'Le Roux']

In [49]:
# Use the zip function to create a list of tuples
list(zip(names, surnames))

[('Mary', 'Johnstone'), ('Anne', 'Barnes'), ('Rene', 'Le Roux')]

In [50]:
# Generate a list of tuples (each with three elements) with the first two being from the previosu cell
# and the third being the length of the name
list(zip(names, surnames, [len(name) for name in names]))

[('Mary', 'Johnstone', 4), ('Anne', 'Barnes', 4), ('Rene', 'Le Roux', 4)]

In [55]:
# Unzip the the three element tuples
names, surnames, lengths = zip(*list(zip(names, surnames, [len(name) for name in names])))
names

('Mary', 'Anne', 'Rene')

## Dictionaries

In [56]:
# Generate a dictionary
dict(zip(names, surnames))

{'Mary': 'Johnstone', 'Anne': 'Barnes', 'Rene': 'Le Roux'}

In [57]:
# Return the keys of the dictionary
dict(zip(names, surnames)).keys()

dict_keys(['Mary', 'Anne', 'Rene'])

In [58]:
# Return the values of the dictionary
dict(zip(names, surnames)).values()

dict_values(['Johnstone', 'Barnes', 'Le Roux'])

In [59]:
# Return the values for the names key
dict(zip(names, surnames))['Mary']

'Johnstone'

In [60]:
# Generate a new dictionary using the dict function with numbers and letters
dict1 = dict(a=1, b=2, c=3, d=4, e=5)
# Return a list of the values of the dictionary
dict1.values()

dict_values([1, 2, 3, 4, 5])

## Sets

In [61]:
# Generate set with the elements 1,2,3,4,4,4,4,1
set([1, 2, 3, 4, 4, 4, 4, 1])

{1, 2, 3, 4}

In [62]:
# Add the element 7 to the set
set1 = set([1, 2, 3, 4, 4, 4, 4, 1])
set1.add(7)
set1

{1, 2, 3, 4, 7}

In [63]:
# Remove 7 from the set
set1.remove(7)
set1

{1, 2, 3, 4}

# Quiz Questions

### 1: A list in python is defined by using square brackets [].

In [29]:
list_quiz = [1,2,3,4]
list_quiz

[1, 2, 3, 4]

### 2: The third element of a list in python can be accessed using list[2]

In [6]:
list_quiz[2]

3

### 3: A list can have the element "new_item" through list.extend([new_item])

In [10]:
list_quiz.extend(["new_item"])

### 4: See below

In [1]:
tuple_quiz = "apple", "banana", "cherry"
tuple_quiz

('apple', 'banana', 'cherry')

### 5:

In [4]:
tuple_quiz[0]

'apple'

### 6:

In [19]:
my_dict = {'Name':'John Doe', 'Age':30}

### 7:

In [20]:
my_dict['Name']

'John Doe'

### 8:

In [23]:
my_dict['Age'] = 35
my_dict

{'Name': 'John Doe', 'Age': 35}

### 9:

In [25]:
my_dict["City"] = "New York"
my_dict

{'Name': 'John Doe', 'Age': 35, 'City': 'New York'}

### 10:

In [26]:
set_quiz = {'apple', 'banana', 'cherry'}
set_quiz

{'apple', 'banana', 'cherry'}

### 11:

In [27]:
set_quiz.add('orange')
set_quiz

{'apple', 'banana', 'cherry', 'orange'}

### 12:

In [28]:
set_quiz.remove('banana')
set_quiz

{'apple', 'cherry', 'orange'}

### 13: The length of the list will be 5

### 14: The list will be [1, 2, 3, 1, 2, 3].

### 15: The set will be {1, 2, 3, 4, 5}

In [30]:
set([1,2,2,3,4,4,4,5,5])

{1, 2, 3, 4, 5}